<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="/public/Scripts/grapUserInfo.js"></script>
    <link rel="stylesheet" href="/public/css/homestyle.css">
</head>
<body>
    <header>
        <h1>Welcome to the BG3 Multi-Class Challenge</h1>
        <div id="header-info">
            <a href="/">Log Off</a>
            <h2>Logged in as: <span class="username-display">:Username:</span></h2>
        </div>
    </header>
    <script src="/public/Scripts/DisplayInfo.js"></script>
</body>
</html>