<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="/public/Scripts/grapUserInfo.js"></script>
    <script src="/public/Scripts/toggleButtons.js"></script>
    <script src="/public/Scripts/toggleRaceButton.js"></script>
    <script src="/public/Scripts/toggleDifficultyButton.js"></script>
    <script src="/public/Scripts/removeCharacter.js"></script>
    <script src="/public/Scripts/startRolling.js"></script>
    <script src="/public/Scripts/reSpin.js"></script>
    <script
      src="https://kit.fontawesome.com/9e454c7d72.js"
      crossorigin="anonymous"
    ></script>
    <script src="/public/Scripts/displayCharacterInfo.js"></script>

    <audio id="audio-player" src="/public/Sound/clickSound.mp3"></audio>
    <audio id="done-audio" src="/public/Sound/done.mp3"></audio>

    <link rel="stylesheet" href="/public/css/homestyle.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to the BG3 Multi-Class Challenge</h1>
      <div id="header-info">
        <a href="/">Log Off</a>
        <h2>Logged in as: <span class="username-display">:Username:</span></h2>
      </div>
    </header>
    <main>
      <div id="character-selector">
        <h2>Select Your Character</h2>
        <ul id="character-list">
          <li id="add-character-list">
            <input
              onclick="toggleButton(this)"
              class="select-character select-button"
              id="add-character"
              type="button"
              value="+"
            />
          </li>
        </ul>
      </div>

      <div id="character-creator">
        <h1>CREATE YOUR CHARACTER</h1>
        <div class="line-break"></div>
        <form id="character-creator-form">
          <div id="name-input">
            <label for="name-input-field">Character Name</label>
            <input
              type="text"
              id="name-input-field"
              placeholder="Tav"
              autocomplete="name"
              minlength="1"
              maxlength="20"
              required
            />
          </div>

          <h3>Select Your Race</h3>

          <h4 id="race-header">Click the Icon</h4>

          <div id="button-list">
            <button
              type="button"
              id="Human"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Human.png"
                alt=""
              />
              <p>Human</p>
            </button>

            <button
              type="button"
              id="Elf"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Elf.png"
                alt=""
              />
              <p>Elf</p>
            </button>

            <button
              type="button"
              id="Drow"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Drow.png"
                alt=""
              />
              <p>Drow</p>
            </button>

            <button
              type="button"
              id="Half-Elf"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Half-Elf.png"
                alt=""
              />
              <p>Half-Elf</p>
            </button>

            <button
              type="button"
              id="Half-Orc"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Half-Orc.png"
                alt=""
              />
              <p>Half-Orc</p>
            </button>

            <button
              type="button"
              id="Halfling"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Halfling.png"
                alt=""
              />
              <p>Halfling</p>
            </button>

            <button
              type="button"
              id="Dwarf"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Dwarf.png"
                alt=""
              />
              <p>Dwarf</p>
            </button>

            <button
              type="button"
              id="Gnome"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Gnome.png"
                alt=""
              />
              <p>Gnome</p>
            </button>

            <button
              type="button"
              id="Tiefling"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Tiefling.png"
                alt=""
              />
              <p>Tiefling</p>
            </button>

            <button
              type="button"
              id="Githyanki"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Githyanki.png"
                alt=""
              />
              <p>Githyanki</p>
            </button>

            <button
              type="button"
              id="Dragonborn"
              class="race-select-button"
              onclick="toggleRaceButton(this)"
            >
              <img
                loading="lazy"
                src="/public/Thumbnail/100px-Race_Dragonborn.png"
                alt=""
              />
              <p>Dragonborn</p>
            </button>
          </div>

          <div id="difficulty-input">
            <h2>Select Your Difficulty</h2>
            <div id="difficulty-info">
              <h3 id="difficulty-header"></h3>
              <p id="difficulty-description"></p>
            </div>

            <div id="difficulty-button-list">
              <button
                type="button"
                id="Normal"
                class="difficulty-select-button"
                onclick="toggleDifficultyButton(this)"
              >
                Normal
              </button>

              <button
                type="button"
                id="Tactician"
                class="difficulty-select-button"
                onclick="toggleDifficultyButton(this)"
              >
                Tactician
              </button>

              <button
                type="button"
                id="Heroic"
                class="difficulty-select-button"
                onclick="toggleDifficultyButton(this)"
              >
                Heroic
              </button>
            </div>
          </div>
          <input type="submit" id="create-character-submit" value="CREATE" />
        </form>
      </div>

      <div id="character-display">
        <div id="character-display-header-container">
          <img
            loading="lazy"
            src="/public/Thumbnail/placeholder.png"
            alt=""
            id="character-display-image"
          />
          <h1 id="character-display-header">:Character Name:</h1>
          <button onclick="deleteButton()">Delete Character</button>
        </div>
        <div class="line-break"></div>
        <h1>ROLL FOR YOUR CLASSES</h1>
        <div id="main-screen">
          <div class="level-display">
            <h1 class="difficulty-info-header">:Difficulty:</h1>
            <div id="level-1-container" class="level-container">
              <h2>Level 1</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-2-container" class="level-container">
              <h2>Level 2</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-3-container" class="level-container">
              <h2>Level 3</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-4-container" class="level-container">
              <h2>Level 4</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-5-container" class="level-container">
              <h2>Level 5</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-6-container" class="level-container">
              <h2>Level 6</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
          </div>
          <div id="rolling-class">
            <button id="roll-button" onclick="startRolling(this)">
              START CHALLENGE
            </button>
            <div id="class-display">
              <img
                loading="lazy"
                src="/public/Images/Barbarian.png"
                alt=""
                id="Barbarian"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Bard.png"
                alt=""
                id="Bard"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Cleric.png"
                alt=""
                id="Cleric"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Druid.png"
                alt=""
                id="Druid"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Fighter.png"
                alt=""
                id="Fighter"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Monk.png"
                alt=""
                id="Monk"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Paladin.png"
                alt=""
                id="Paladin"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Ranger.png"
                alt=""
                id="Ranger"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Rogue.png"
                alt=""
                id="Rogue"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Sorcerer.png"
                alt=""
                id="Sorcerer"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Warlock.png"
                alt=""
                id="Warlock"
                class="available-class"
              />
              <img
                loading="lazy"
                src="/public/Images/Wizard.png"
                alt=""
                id="Wizard"
                class="available-class"
              />
            </div>
            <div id="roll-footer">
              <h1 id="character-display-name"></h1>
              <button id="respin-button" onclick="reSpin()">RESPIN</button>
              <h2 id="character-display-spins">:Spins:</h2>
            </div>
          </div>
          <div class="level-display">
            <h1 class="difficulty-info-header">:Difficulty:</h1>
            <div id="level-7-container" class="level-container">
              <h2>Level 7</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-8-container" class="level-container">
              <h2>Level 8</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-9-container" class="level-container">
              <h2>Level 9</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-10-container" class="level-container">
              <h2>Level 10</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-11-container" class="level-container">
              <h2>Level 11</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
            <div class="line-divider"></div>
            <div id="level-12-container" class="level-container">
              <h2>Level 12</h2>
              <img
                loading="lazy"
                src="/public/Images/levelPlaceHolder.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/public/Scripts/DisplayInfo.js"></script>
    <script src="/public/Scripts/addCharacter.js"></script>
  </body>
</html>
