<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Bg3 Class Keeper</title>
  </head>
  <body>
    <header>
      <h1>BG3 Class Keeper</h1>
      <form action="/" method="POST" id="log-in-form">
        <label for="log-in">Enter Username</label>
        <input type="text" id="log-in" name="log-in" />
        <button type="submit">Log In</button>
        <button type="submit">Sign Up</button>
      </form>
    </header>
  </body>
</html>
