<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Bg3 Class Keeper</title>

    <script>
      function openRegister() {
        document.getElementById("login-form").style.display = "none";
        document.getElementById("register-form").style.display = "flex";
      }

      function openLogin() {
        document.getElementById("login-form").style.display = "flex";
        document.getElementById("register-form").style.display = "none";
      }
    </script>
  </head>
  <body>
    <header>
      <h1>BG3 Class Keeper</h1>
      <form id="login-form" class="entry-form">
        <h2>Login</h2>
        <div class="action-containers">
          <div class="input-fields">
            <label for="username-login">Enter Username</label>
            <input
              type="text"
              name="username"
              id="username-login"
              class="info-input"
              minlength="3"
              autocomplete="username"
              required
            />
            <label for="password-login">Enter Password</label>
            <input
              type="password"
              name="password"
              id="password-login"
              class="info-input"
              minlength="3"
              autocomplete="current-password"
              required
            />
          </div>
          <div class="input-buttons-container">
            <input type="submit" value="Enter" class="input-buttons" />
            <button
              type="button"
              id="sign-up"
              onclick="openRegister()"
              class="input-buttons"
            >
              Sign Up
            </button>
          </div>
        </div>
      </form>
      <form id="register-form" class="entry-form">
        <h2>Register</h2>
        <div class="action-containers">
          <div class="input-fields">
            <label for="username-register">Enter Username</label>
            <input
              type="text"
              name="username"
              id="username-register"
              class="info-input"
              minlength="3"
              required
            />
            <label for="password-register">Enter Password</label>
            <input
              type="password"
              name="password"
              id="password-register"
              class="info-input"
              minlength="3"
              required
            />
          </div>
          <div class="input-buttons-container">
            <input type="submit" value="Register" class="input-buttons" />
            <button
              type="button"
              id="log-in"
              onclick="openLogin()"
              class="input-buttons"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </header>
    <main>
      <h1>What Will be Your First Class</h1>
      <div id="main-screen">
        <div id="image-container">
          <div class="image-info">
            <img src="/public/Images/Barbarian.png" alt="" />
            <h2>Barbarian</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Bard.png" alt="" />
            <h2>Bard</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Cleric.png" alt="" />
            <h2>Cleric</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Druid.png" alt="" />
            <h2>Druid</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Fighter.png" alt="" />
            <h2>Fighter</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Monk.png" alt="" />
            <h2>Monk</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Paladin.png" alt="" />
            <h2>Paladin</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Ranger.png" alt="" />
            <h2>Ranger</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Rogue.png" alt="" />
            <h2>Rogue</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Sorcerer.png" alt="" />
            <h2>Sorcerer</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Warlock.png" alt="" />
            <h2>Warlock</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Wizard.png" alt="" />
            <h2>Wizard</h2>
          </div>
        </div>
      </div>
    </main>

    <script src="/public/Scripts/authAccount.js"></script>
  </body>
</html>
