<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Bg3 Class Keeper</title>
  </head>
  <body>
    <header>
      <h1>BG3 Class Keeper</h1>
      <form action="/" method="post">
        <label for="log-in">Enter Username</label>
        <input type="text" name="user" minlength="3" required />
        <label for="sign-up">Enter Password</label>
        <input type="password" name="pass" minlength="3" required />
        <input type="hidden" id="action" name="action" value="log_in" />
        <div id="button-container">
          <button
            type="submit"
            onclick="document.getElementById('action').value = 'log_in'"
          >
            Log In
          </button>
          <button
            type="submit"
            onclick="document.getElementById('action').value = 'sign_up'"
          >
            Sign Up
          </button>
        </div>
      </form>
    </header>
    <main>
      <h1>What Will be Your First Class</h1>
      <div id="main-screen">
        <div id="image-container">
          <div class="image-info">
            <img src="/public/Images/Barbarian.png" alt="" />
            <h2>Barbarian</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Bard.png" alt="" />
            <h2>Bard</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Cleric.png" alt="" />
            <h2>Cleric</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Druid.png" alt="" />
            <h2>Druid</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Fighter.png" alt="" />
            <h2>Fighter</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Monk.png" alt="" />
            <h2>Monk</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Paladin.png" alt="" />
            <h2>Paladin</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Ranger.png" alt="" />
            <h2>Ranger</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Rogue.png" alt="" />
            <h2>Rogue</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Sorcerer.png" alt="" />
            <h2>Sorcerer</h2>
          </div>
          <div class="image-info">
            <img src="/public/Images/Wizard.png" alt="" />
            <h2>Wizard</h2>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
