@font-face {
  font-family: "SHERWOOD.TTF";
  src: url("/public/Fonts/SHERWOOD.TTF") format("truetype");
}

:root {
  --difficulty-color: black;
}

body {
  background-color: #191918;
  color: #ffa046;
  cursor: default;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  height: fit-content;
  align-items: center;
  background-color: #0e0e0e;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

header > h1 {
  font-size: 80px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  cursor: default;
  -webkit-text-stroke: 3px black;
  margin: 20px 0;
  text-align: center;
}

header > #header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  background-color: rgb(31, 0, 0);
  border-radius: 10px;
  padding: 10px;
  border: 4px solid rgb(98, 0, 0);
  margin: 20px 0;
  margin-right: 5px;
  box-shadow: 0 0 15px 10px rgb(72, 6, 6);
}

header > #header-info > a {
  text-decoration: none;
  color: white;
  background-color: rgb(50, 15, 82);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid yellow;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

header > #header-info > a:hover {
  background-color: red;
  color: blueviolet;
}

header > #header-info > h2 {
  font-size: 30px;
  color: white;
}

header > #header-info > h2 > span {
  color: yellow;
}

main {
  display: flex;
  margin-top: 10px;
  height: 80%;
  width: 100%;
  gap: 5px;
}

main > #character-selector {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid black;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0 5px;
  text-align: center;
  padding-bottom: 8px;
}

main > #character-selector > h2 {
  font-size: 30px;
  padding: 10px;
  border: 3px solid #0e0e0e;
  background-color: #272727;
  border-radius: 10px;
}

main > #character-selector > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: black;
  padding-top: 6px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
}

main > #character-selector > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  cursor: default;
  background-color: black;
  box-shadow: none;
  border: none;
}

.select-character {
  all: unset;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: limegreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

#add-character-list{
    order: 1;
}

.select-character:hover {
  background-color: rgb(0, 31, 0);
}

.selected {
  all: unset;
  width: 100%;
  height: 50px;
  background-color: limegreen;
  color: white;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

#add-character {
  font-size: xx-large;
  font-weight: bolder;
}

#character-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  background-color: #0e0e0e;
  border-radius: 10px;
  border: 4px solid black;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

#character-creator > h1 {
  font-size: 70px;
  width: 80%;
  margin: 20px auto;
}

#character-creator > form > h4 {
  font-size: 40px;
  width: fit-content;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  color: lime;
  cursor: default;
}

#character-creator > .line-break {
  width: 80%;
  height: 3px;
  background-color: lime;
  border-radius: 50%;
}

#character-creator > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  font-size: 25px;
  margin-top: 30px;
}

#name-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  font-size: 40px;
  border: 2px solid black;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#name-input:focus-within {
  box-shadow: 0px 0px 50px -10px rgba(50, 205, 50, 0.486);
  border: 2px solid limegreen;
}

#name-input > label {
  color: limegreen;
}

#name-input > input {
  all: unset;
  width: 100%;
  height: fit-content;
  background-color: grey;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  transition: outline border 0.1s ease-in-out;
  border-radius: 10px;
  padding: 3px;
  cursor: text;
}

#name-input > input:focus {
  outline: 1px solid limegreen;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: none;
}

#name-input > input::placeholder {
  color: rgba(255, 255, 255, 0.576);
}

#button-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 700px;
  height: 100%;
  font-size: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

#button-list > .race-select-button {
  all: unset;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

#button-list > button:hover {
  background-color: rgb(31, 27, 0);
}

#button-list > button > img {
  width: 100px;
  height: 100px;
  margin: 0;
}

#button-list > button > p {
  margin: 0;
}

.selected-race {
  all: unset;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: default;
  border: 5px solid rgb(162, 162, 0);
  box-shadow: 0px 0px 40px -10px yellow;
}

#create-character-submit {
  all: unset;
  width: 300px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 40px;
}

#create-character-submit:hover {
  background-color: rgb(31, 127, 31);
  box-shadow: 0px 0px 40px -10px rgb(0, 255, 0);
}

.difficulty-select-button {
  all: unset;
  width: 200px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 10px;
}

.difficulty-select-button:hover {
  border: 2px solid rgb(255, 255, 255);
}

.selected-difficulty-button {
  all: unset;
  width: 200px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--difficulty-color);
  box-shadow: 0px 0px 40px -10px var(--difficulty-color);
  margin-top: 10px;
}

#difficulty-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

#difficulty-header {
  font-size: 50px;
  margin: 0 auto;
  background-color: black;
  color: var(--difficulty-color);
  padding: 20px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--difficulty-color);
  margin-bottom: 5px;
  display: none;
}

#difficulty-description {
  font-size: 30px;
  margin: 0 auto;
  background-color: black;
  color: var(--difficulty-color);
  padding: 20px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--difficulty-color);
  display: none;
}
