@font-face {
  font-family: "SHERWOOD.TTF";
  src: url("/public/Fonts/SHERWOOD.TTF") format("truetype");
}

body {
  background-color: #191918;
  color: #ffa046;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  height: fit-content;
  align-items: center;
  background-color: #0e0e0e;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

header > h1 {
  font-size: 80px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  cursor: default;
  -webkit-text-stroke: 3px black;
  margin: 20px 0;
  text-align: center;
}

header > #header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  background-color: rgb(72, 6, 6);
  border-radius: 10px;
  padding: 10px;
  border: 4px solid rgb(0, 0, 0);
  margin: 20px 0;
  margin-right: 5px;
  box-shadow: 0 0 15px 10px rgb(72, 6, 6);
}

header > #header-info > a {
  text-decoration: none;
  color: white;
  background-color: rgb(50, 15, 82);
  padding: 7px;
  border-radius: 5px;
  border: 2px solid yellow;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

header > #header-info > a:hover {
  background-color: red;
  color: blueviolet;
}

header > #header-info > h2 {
  font-size: 30px;
  color: white;
}

header > #header-info > h2 > span {
  color: yellow;
}

main {
  display: flex;
  margin-top: 10px;
  height: 80%;
  width: 100%;
}

main > #character-selector {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid black;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}

main > #character-selector > h2 {
  font-size: 30px;
}

main > #character-selector > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: black;
  padding-top: 6px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
}

main > #character-selector > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  cursor: default;
  background-color: black;
  box-shadow: none;
  border: none;
}

.select-character {
  all: unset;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: limegreen;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.select-character:hover {
  background-color: rgb(0, 31, 0);
}

.selected {
  all: unset;
  width: 100%;
  height: 50px;
  background-color: limegreen;
  color: white;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

#add-character {
  font-size: xx-large;
  font-weight: bolder;
}
