/* import font from /public/Fonts/SHERWOOD.ttf */
@font-face {
  font-family: "SHERWOOD.TTF";
  src: url("/public/Fonts/SHERWOOD.TTF") format("truetype");
}
body {
  background-color: rgb(26, 26, 26);
  color: white;
}

header {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 200px;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 165, 0),
    rgb(255, 140, 0)
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header > h1 {
  font-size: 50px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 0 auto;
  cursor: default;
}

header > form {
  display: flex;
  gap: 5px;
  background-color: rgb(169, 28, 28);
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 100;
  flex-direction: column;
}

header > form > label {
  font-size: 20px;
  display: flex;
  margin: 0;
  align-items: center;
}

header > form > input {
  font-size: 20px;
}

header > form > #button-container > button {
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  width: 48%;
  flex-wrap: wrap;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.906);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 100;
}

header > form > #button-container > button:active {
  box-shadow: none;
}

header > form > button:hover {
  background-color: rgb(255, 242, 0);
  border: 2px solid white;
  color: black;
}

main {
  display: flex;
  margin-top: 10px;
flex-direction: column;
    align-items: center;
}

main > #class-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

main > #class-list-container > h2 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  cursor: default;
}

main > #class-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: default;
  width: 95%;
}

main > #class-list-container > ul > li {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  cursor: default;
}

.class-item {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

#main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

main>h1 {
  font-size: 42px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  cursor: default;
background-color: black;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 20px auto;
    cursor: default;
    text-align: center;
}
#image-container>.image-info {
    position: relative;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    cursor: default;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
  }
  
  #image-container>.image-info>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity .5s;
  }
  
  #image-container>.image-info:hover>img {
    opacity: 0.5;
  }
  
  #image-container>.image-info>h2 {
    font-size: 80px;
    font-family: "SHERWOOD.TTF", sans-serif;
    font-weight: 500;
    cursor: default;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s;
  }
  
  #image-container>.image-info:hover>h2 {
    opacity: 1;
  }
  