/* import font from /public/Fonts/SHERWOOD.ttf */
@font-face {
  font-family: "SHERWOOD.TTF";
  src: url("/public/Fonts/SHERWOOD.TTF") format("truetype");
}

body {
  background-color: #191918;
  color: #FFA046;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  height: fit-content;
  align-items: center;
  background-color: #0e0e0e;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

header > h1 {
  font-size: 80px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  cursor: default;
  -webkit-text-stroke: 3px black;
  margin: 20px 0;
  text-align: center;
}

.entry-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(149, 17, 17);
  border-radius: 10px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 200;
  border: 4px solid black;
  margin: 10px 0;
  margin-right: 5px;
  padding: 10px;
  padding-top: 0;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
  padding: 10px;
}

#register-form {
  display: none;
}

.entry-form > h2 {
  font-size: 30px;
  font-weight: bold;
  cursor: default;
  margin: 0;
  margin-top: 5px;
  text-align: center;
  padding: 0;
  height: fit-content;
}

.entry-form> .action-containers {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400px;
}

.entry-form> .input-fields > label {
  font-size: 15px;
  cursor: default;
  margin: 0;
  margin-top: 5px;
  text-align: left;
  padding: 0;
}

.info-input {
  font-size: 23px;
  cursor: default;
  margin: 0;
  margin-top: 0px;
  text-align: left;
  padding: 3px;
  border-radius: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.input-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  flex-direction: column;
  width: 48%;
  gap: 5px;
}

.input-buttons {
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: rgb(255, 38, 0);
  border-radius: 4px;
  border: 2px solid black;
  padding: 3px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  width: 100%;
}

.input-buttons:hover {
  background-color: rgb(255, 247, 0);
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  transition: all 0.1s linear;
}

.input-buttons:active {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px rgb(21, 21, 21);
}

main {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

main > #class-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

main > #class-list-container > h2 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  cursor: default;
}

main > #class-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: default;
  width: 95%;
}

main > #class-list-container > ul > li {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  cursor: default;
}

.class-item {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

#main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  justify-content: center;
}

main > h1 {
  font-size: 42px;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  cursor: default;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 20px auto;
  cursor: default;
  text-align: center;
  color: white;
}
#image-container > .image-info {
  position: relative;
  /* height and width must be 20% of the size of the image 1792px by 1024px */
  width: 592px;
  height: 309.6px;
  margin: 10px 10px;
  cursor: default;
  border-radius: 10px;
  border: 2px solid black;
  /* simple box shadow */
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.906);
  transition: box-shadow 0.2s ease-in-out;
}

#image-container > .image-info:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#image-container > .image-info > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.5s;
}

#image-container > .image-info:hover > img {
  opacity: 0.5;
}

#image-container > .image-info > h2 {
  font-size: 300%;
  font-family: "SHERWOOD.TTF", sans-serif;
  font-weight: 500;
  cursor: default;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  color: white;
}

#image-container > .image-info:hover > h2 {
  opacity: 1;
}
